body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #f1f1f1;
    padding: 10px;
}
    
    /* Style the header */
header {
  font-family: 'Roboto Slab', sans-serif;
  background-color: #ffffff;
  padding: 10px;
  text-align: center;
  font-size: 35px;
  color: black;
}
    
    /* Style the content */
section {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: #ffffff;
  padding: 10px;
  
}
    
    /* Style the footer */
footer {
  background-color: #08596a;
  padding: 5px;
  text-align: center;
  color: white;

}
    
.wrapper {
  max-width: 70%;
  padding: 20px;
  margin: 0 auto;
}

.image {
    position: relative;
    max-height: 500px;
    width: 100%;
    overflow: hidden;
}

img {
    width: 100%;
    height: auto;
    overflow: hidden;
}

   .afb {
      max-width: 70%;
      height: auto;
}

h1 {
  font-size: 280%;
  word-break: no;
}
        

a {
  color: #288992;
}
    
    <!--Navigation Bar-->
    
    body {margin: 0;}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #5c5c5c;
  position: relative;
  position: -webkit-sticky; /* Safari */
  position: sticky;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #a1a1a1;}

ul.topnav li a.active {background-color: #288992;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}
